.accordion {
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.1em;
    background: none;
    border: none;
    padding: 8px 10px;

    svg {
      width: auto;
      height: 1.4em;
    }
  }
}
