/*Colors*/
$base-color: var(--berry-base-color);
$base-color-hover: var(--berry-base-color__hover);
$base-color-active: var(--berry-base-color__active);
$base-color-border: var(--berry-base-color__border);
/**/
$text-color: black;
/**/
$global-padding: 4px;
