@use "fonts";
@use "./brand/color-scheme";
@use "imports";
@use "variables";

:root {
  @include color-scheme.scheme-dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: OpenSans-Regular, sans-serif;
}

body {
  background-color: variables.$unbase-color;
}

.light {
  @include color-scheme.scheme-light;
}

.dark {
  @include color-scheme.scheme-dark;
}

.app-view {
  padding: 68px 12px;
}

/**/
button {
  cursor: pointer;
}

/*General*/
h1,
h2,
h3,
p {
  color: variables.$text-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
