@use "fonts";
@use "./brand/color-scheme";
@use "imports";
@use "variables";

:root {
  @include color-scheme.scheme-dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: OpenSans-Regular, sans-serif;
  background-color: variables.$base-color;
}

.light {
  @include color-scheme.scheme-light;
}

.dark {
  @include color-scheme.scheme-dark;
}
