@mixin scheme-light {
  --berry-base-color: rgb(239, 245, 245);
  --berry-base-color__hover: ;
  --berry-base-color__active: ;
  --berry-base-color__border: rgb(150, 163, 161);
  /**/
  --berry-unbase-color: ;
  /**/
  --berry-accent-color: rgb(21, 141, 189);
  /**/
  --berry-text-color: rgb(14, 14, 15);
  --berry-text-color__unactive: rgb(130, 130, 134);
  /**/
  --berry-menu-item__active: rgb(217, 224, 224);
}

@mixin scheme-dark() {
  --berry-base-color: rgb(38, 38, 41);
  --berry-base-color__hover: ;
  --berry-base-color__active: ;
  --berry-base-color__border: rgb(57, 57, 65);
  /**/
  --berry-unbase-color: rgb(22, 23, 24);
  /**/
  --berry-accent-color: rgb(68, 180, 224);
  /**/
  --berry-text-color: rgb(239, 245, 245);
  --berry-text-color__unactive: rgb(130, 130, 134);
  /**/
  --berry-menu-item__active: rgb(55, 55, 59);
  /**/
  --berry-shadow-color: rgba(16, 16, 17, 0.9);
}
